body {
    padding: 2em;
}

#search {
    margin: 1em 2em;
    padding: 0.5em;
}

.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


h1, h3 {
    font-family: "Pixelify Sans";
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    display: flex;
    align-items: center;
    margin: 1em 2em;
    padding: 1em;
    justify-content: space-around;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

.deck {
    display: grid;
    grid-template-columns: auto auto auto;
}
